<div class="card-body">
  <h2 style="color: #182c83;font-size: 200%; margin-bottom: 30px;"> Update Password</h2>
  <div [style.display]="showRequestToken?'inherit':'none'">
    <p>You need to request token to change your password.
      We use this token to be sure that you requested this password change!</p>
    <button class="btn btn-primary" style="margin: 15px" (click)="tokenRequest()">Request Token</button>

  </div>

  <div>
    <form [style.display]="showApproveToken?'inherit':'none'" ngNativeValidate style="margin-top: 20px;"
          (ngSubmit)="approveToken()" name="form" class="form-horizontal">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input id="token" name="token" [(ngModel)]="token" class="form-control" style="padding-left: 5px;width: 80%"
                 placeholder="Password Reset Token" type="number" maxlength="30" required>
        </div>
      </div>
      <div class="form-group">
        <input name="token-submit" class="btn btn-lg btn-primary btn-block align-content-center" style="margin-left: 10%;margin-right: 10%;width: 80%" value="Reset Password" type="submit">
        <p class="small text-center"  style="opacity: 0.75;"> Did not receive token?<a  href=#register (click)="tokenRequest()"> Send again</a></p>
      </div>
    </form>
  </div>
  <div>
    <form ngNativeValidate [style.display]="showPasswordChange?'inherit':'none'" name="form" style="margin-top: 20px;"
          (ngSubmit)="changePassword()" class="form-horizontal"
          oninput='pass2.setCustomValidity(pass2.value != pass.value ? "Passwords do not match." : "")'>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input name="pass" id="password" [(ngModel)]="password" name="pass" class="form-control"
                 style="padding-left: 5px;" placeholder="Password" type="password" minlength="8" maxlength="20"
                 pattern="(?=.*[0-9])(?=.*[a-zA-Z]).{8,20}" required>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-eye" id="togglePassword"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input name="pass2" id="confirmPassword" name="pass2" class="form-control" style="padding-left: 5px;"
                 placeholder="Confirm Password" type="password" minlength="8" maxlength="20"
                 pattern="(?=.*[\d@$!%*#?.])(?=.*[a-zA-Z]).{8,20}" required>
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-eye" id="toggleConfirmPassword"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Update Password" type="submit">
      </div>
    </form>

  </div>
  <div [style.display]="showChangeSuccess?'inherit':'none'">
    <p>Successfully updated your password!</p>
  </div>
</div>
