//
// Card
//


.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}

.card-auctions {
    background-color: white;
    float: right;
    margin: 5px;
    border-radius: 15px;
    border-color: grey;
    border-size:1px;
}
