<div id="myModal" class="card">
    <article class="card-body">
        <div class="modal-header">
            <div style="width: 100%; justify-content: center;">
                <h3 class="card-title text-center mb-2" style="margin-left: 52px;">Password Reset Token</h3>
            </div>  
            <button type="button" class="close pull-right" (click)="onModalClose()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form ngNativeValidate style="margin-top: 20px;" (ngSubmit)="sendResetPasswordToken()" name="form" class="form-horizontal">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="token" name="token" [(ngModel)]="token" class="form-control" style="padding-left: 5px;" placeholder="Password Reset Token" type="text" maxlength="30" required>
                </div>
            </div> 
            <div class="form-group">
                <input name="token-submit" class="btn btn-lg btn-primary btn-block" value="Next" type="submit">
            </div>  
        </form>
    </article>
</div>
    