

// // .btn-separator:after {
// //     content: ' ';
// //     display: block;
// //     float: left;
// //     background: #ADADAD;
// //     height: 34px;
// //     width: 1px;
// // }

.form-control {
   background-color: transparent !important;
   color: white !important;
}


// // nav {
// //   color: white !important;
// // }


.navbar-search-dark{
  flex-grow: 0.5;
}

.navbar-dark .navbar-nav .nav-link {
   color: white;
}

.navbar-search-dark .input-group {
   color: white;
   border-color: white;
}

.input-group-text {
   background-color: transparent !important;
}

#user-button{
  width: 7em;
}

.btn.special{
   min-width: 7em;
   min-height: 2em;
   background-color: #5271ff;
   color: white;
   border: 1px solid white;
}


.btn.special:hover{
  background-color: white !important;
  color:#5271ff !important;
}

.nav-item{
  padding: 5px;
}

#auction-post{
  padding-right:50px;
}

.profile{
  background-color: #5271ff;
  outline: none;
  height: 100%;
  display: inline;
  color: white;
  border:none;
}

.profile:hover{
  outline:none;
  border:none!important;
  text-decoration: none;
}


@media (max-width: 991px){

  .navbar-search-dark{
    width: 100%;
  }

  #user-button{
    width: 100% !important;
  }

.nav-item{
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

  .btn.special{
    width: 100%;
    background-color: #5271ff !important;
    color: white !important;
    border: 0px;
    border-bottom: 1px white solid !important;
 }

 #auction-post{
  padding-right:0px;
}
}

.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.sec{
  position: relative;
  right: 6px;
  top: 0px;
}

.counter.counter-lg {
  top: -10px !important;
}

.notification-box{
  max-height: 500px;
  overflow:hidden;
  overflow-y:scroll;
}



