.image {
    width: 100%;
    height: auto;
}

.auction-description{
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

.info-text{
   font-size: 15px;
}

.card-button{
    float: left;
    border-radius:10px;
    background-color: #5271ff;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    height: 40px;
    width: 100%;
}
  